<h1>Thank You for taking the test!</h1>

<p> Your Score was: <p>
<p> IE: <%= @score.extraversion %><p>
<p> SN: <%= @score.openness %><p>
<p> FT: <%= @score.agreeableness %><p>
<p> JP: <%= @score.conscientiousness %><p>
<% personality = Personality.where(mbti: @score.mbti) %>
<p> Your new MBTI is: <%=  link_to @score.mbti, personality_path(@score.mbti) %><p>