<h1>Members</h1>

<% @users.each do |user| %>
<div class="well">

  <center><h2> <%= user.name %> </h2></center>
  <div class="avatar">
     <center><%= image_tag user.avatar.url(:medium) %>
    <%= link_to image_tag(user.personality.avatar), personality_path(user.personality.id) %></center>
  </div>
  <% if !(current_user == user) %>
  <p> Personality type: <%= user.personality.mbti %><br>
  <p> My Personality type: <%= current_user.personality.mbti %></p>
   <% r = Relationship.where(primary: current_user.personality, secondary: user.personality)%>
   <% c = Compatibility.where(id: r.first.compatibility_id) %>
   <% d = c.first %>
   <p>Your Compatibility with this User: <%= link_to d.title, compatibilities_path %> </p>
  <% end %>


   <%#current_user.where.personality_id = user.relationship.primary_id %><br>
   <%#user.relationship.compatibility.title %>
   <%# user.relationship.compatibility.description %>


<h2> Working with <%= user.personality.mbti%> </h2>
  <h3> <%=  "#{user.personality.mbti} at work:"%> </h3> <p><%= user.personality.at_work %></p><br>
  <h3> <%= "#{user.personality.mbti} in a team:"%> </h3> <p><%= user.personality.as_leader %></p><br>
  <h3> <%= "#{user.personality.mbti} as a leader:"%> </h3><p><%= user.personality.as_team %></p><br>




</div>
<% end %>


