
<h1><%= @user.name %></h1>

<div class="avatar">
  <%= image_tag @user.avatar.url(:medium) %>
</div>


<p>
 <strong>My MBTI:</strong>

 
 </p>

<p>
 <strong>My profile:</strong>


 </p>


 <% @projects.each do |project| %>
 Project: <%= project.title %> <br>Description: <%=project.description %> <br> Participants needed: <%= project.participants %> <br> Skills required: <%= project.skills_required %> <br>
  <% end %>


