
<p>
 <strong>My MBTI:</strong>

  <%= @user.personality.mbti %>

 </p>

<p>
 <strong>My profile:</strong>

  <%= @user.personality.title %>

 </p>


 <% @projects.each do |project| %>
 Project: <%= project.title %> <br>Description: <%=project.description %> <br> Participants needed: <%= project.participants %> <br> Skills required: <%= project.skills_required %> <br>
  <% end %>


  <br>