
<p>
 <strong>My MBTI:</strong>

  <%= @user.personality.mbti %>

 </p>

<p>
 <strong>My profile:</strong>

  <%= @user.personality.title %>

 </p>

 
 <% @projects.each do |project| %>
 Project: <%= project.title %> <br>Description: <%=project.description %> <br> Participants needed: <%= project.participants %> <br> Skills required: <%= project.skills_required %> <br>
  <% end %>

   <% if current_user == @user%>
    <br>
    <h3>Participation requests:</h3> 
    <% @user.membership_requests.each do |request| %>
    Wants to join: <%= request.project.title %> <br> Participant name: <%= request.user.name %> <br>Participant MBTI type: <%= request.user.personality.mbti %><br>
    <%= button_to 'View participant profile', user_path(request.user),  :method => 'get' %> 
    <%= button_to 'View compatibility with participant', user_path(request.user),  :method => 'get' %> 
    <%= button_to 'Accept participant request', project_membership_path(request.project, request), :method => 'put'%> 

    <% end %> 
  <% end %> 

