<div class="well">
  <h2> Project: <%= link_to project.title, project_path(project.id) %></h2>
    <p><em>Description: <%= project.description %><br>
    Start Date: <%= project.start_date.to_date %> <br>
    Location: <%= project.location %> <br>
    Founder: <%= project.user.name %> <br>
    Number of Participants: <%= (project.memberships.accepted.count + 1) %><br>
    Number of empty slots: <%= project.participants - project.memberships.accepted.count%> <br>
    Skills required: <%= project.skills_required %></em></p>

    <% if (current_user && (current_user.is_pending_member?(project))) %>
      <strong>Membership Request Pending!</strong>
    <% end %>

    <% if current_user && (current_user.is_member?(project) == false or current_user.is_founder?(project) == false) %>
      <%= button_to 'Join this project', project_memberships_path(project), :method => 'post' %>
    <% end %>
</div>




