<div class="well">
  <p> Project: <%= link_to project.title, project_path(project.id) %> <br>
    Description: <%=project.description %> <br>
    Start Date: <%= project.start_date %> <br>
    Location: <%= project.location %> <br>
    Founder: <%= @founder.email %> <br>
    Number of Participants: <%= project.participants %></p>
</div>