<div class="well">
  <p> Project: <%= link_to project.title, project_path(project.id) %> <br>
    Description: <%=project.description %> <br>
    Start Date: <%= project.start_date %> <br>
    Location: <%= project.location %> <br>
    Founder: <%= project.user.name %> <br>
    Number of Participants: <%= project.participants %><br>
    Number of empty slots: <%= project.participants - project.memberships.accepted.count%> <br>
    Skills required: <%= project.skills_required %></p>

     <%= button_to 'Join this project', project_memberships_path(project), :method => 'post'%> 


</div>