<% if current_user.nil? %>
<div class="jumbotron">

</div>
<% end %>

<p>Please log-in</p>



<h1>Projects</h1>


<%= search_form_for @search do |s| %>  
  <div class="field">
  <%= s.label :title_or_description_or_location_or_skills_required, "Search" %>
  <%= s.text_field :title_or_description_or_location_or_skills_required %>
  </div>

  <div class="submit"><%= s.submit "Submit"%></div>

<% end %>
<br>

<div id="projects">
  <%= render @projects %>
</div>

<%= will_paginate @projects, renderer: BootstrapPagination::Rails %>

<%= link_to 'Create Project', new_project_path %>


