<h1>Projects</h1>


<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<br>

<div id="projects">
  <%= render @projects %>
</div>

<%= link_to 'Create Project', new_project_path %>
