
<div class="well">
<% @my_founded_projects.each do |project| %>
  <h2> Project: <%= link_to project.title, project_path(project.id) %></h2>
    <p><em>Description: <%=project.description %><br>
    Start Date: <%= project.start_date %> <br>
    Location: <%= project.location %> <br>
    Founder: <%= project.user.name %> <br>
    Number of Participants: <%= project.participants %><br>
    Number of empty slots: <%= project.participants - project.memberships.accepted.count%> <br>
    Skills required: <%= project.skills_required %></em></p>
<% end %>