
<h2>Fun Facts about <%= @personality.mbti%>s</h2>

<ul>
<%= @personality.description %>
</ul>



<%# end %>

<h2> Working Style </h2>
<%= @personality.at_work %>

<h2> As a Leader </h2>
<%= @personality.as_leader %>

<h2> As a Team Member </h2>
<%= @personality.as_team %>

