<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3?key=#{Figaro.env.google_maps_api}" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <center>
              <div class="navbar-collapse collapse" id="navbar-main">
                  <ul class="nav navbar-nav navbar-left">
                    <li><a href="#menu-toggle"><%= link_to "", class: 'active', id: 'menu-toggle' do %>
                       <i class="glyphicon glyphicon-align-justify"></i>
                     <% end %></a>
                     </li>
                      <li><%= link_to_unless_current('Home', root_path) {  link_to('Home', root_path, class: 'active') } %>
                      </li>
                  </ul>
              <a class="navbar-brand">myersBits</a>
                  <% if current_user %>
                  <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to_unless_current('Profile', user_path(current_user.id)) {  link_to('Profile', user_path(current_user.id), class: 'active' ) } %></li>
                  </ul>
                  <p class="navbar-text navbar-right"> <%= link_to pluralize(current_user.count_pending_membership_requests, "pending requests"),notification_path(current_user.id)  %></p>

                    <p class="navbar-text navbar-right">Signed in as <%= current_user.name %> <%= link_to "Log out", session_path("current"), :method => :delete %></p>
                  <% else %>
                    <%= form_tag "/sessions", method: "POST", class: "navbar-form navbar-right" do |f| %>
                        <div class="form-group">
                            <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
                        </div>
                        <div class="form-group">
                            <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
                        </div>

                        <%= submit_tag "Log in", class: "btn btn-default" %>


                        <%= button_to "Sign Up", new_user_path, class: "btn btn-default" %>

                    <% end %>
                  <% end %>
                  </form>
              </div>
          </center>
      </div>
  </div>

      <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Main Menu
                    </a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"> <%= link_to "All projects", projects_path %></a>
                </li>
                <% if current_user.nil? %>
                <% else %>
                <li>
                    <a href="#"><%= link_to "My projects", mine_projects_path(current_user.id) %></a>
                </li>
                <% end %>
                <li>
                    <a href="#"><%= link_to "Myers Briggs types", personalities_path %></a>
                </li>
                <li><% if current_user.nil? %>
                <% else %>
                    <%= link_to "My Profile", user_path(current_user.id) %>
                    <% end %>
                </li>
                <li>
                    <a href><%= link_to "Myers Briggs Test", new_score_path %></a>
                </li>
                <li>
                    <a href><%= link_to "New Project", new_project_path %></a>
                </li>
                <li>
                    <a href><%= link_to "Members", users_path %></a>
                </li>
                <li>
                    <a href><%= link_to "My compatibilities", users_path %></a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10" style="float:right;">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


    <% if flash[:notice] %>
     <div class="alert"><%= flash[:notice] %></div>
    <% end %>


  </body>
</html>