<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if flash[:notice] %>
     <div class="alert"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

    <% if current_user %>
      <%= link_to current_user.email, user_path(current_user.id) %>

      <%= link_to "Log out", logout_path %>
      <% if current_user.membership_requests.any? %> <br>
      <%= link_to pluralize(current_user.membership_requests.count, "pending participation request"), user_path(current_user.id)  %> 
      <% end %>
    <% else %>
      <%= link_to "Sign up", signup_path %> or
      <%= link_to "Log in", login_path %>.
    <% end %>

   
  </body>
</html>
